<% layout('layouts/boilerplate') %> <%- include('../partials/search.ejs') %>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
      <% for( let stan of stanovi) { %>

      <div class="col">
        <div class="card shadow-sm">
          <% if (stan.images.length) { %>
          <img
            crossorigin="anonymous"
            src="<%= stan.images[0].url %>"
            class="card-img-top"
            alt="..."
            height="400px"
          />
          <% } else {%>

          <img
            crossorigin="anonymous"
            src="/img/MojDizajn.png"
            class="card-img-top"
            alt="..."
            height="400px"
          />
          <% } %>
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>

          <div class="card-body">
            <h5><%= stan.title %></h5>
            <p class="card-text"><%= stan.description %></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  class="btn btn-sm btn-outline-secondary"
                  href="/stanovi/<%= stan._id %>"
                >
                  Pogledajte
                </a>
                <% if(currentUser && stan.author.equals(currentUser._id)){ %>
                <a
                  class="btn btn-sm btn-info"
                  href="/stanovi/<%= stan._id %>/edit"
                  >Preuredi</a
                >
                <form
                  class="d-inline"
                  action="/stanovi/<%= stan._id %>?_method=DELETE"
                  method="POST"
                >
                  <button class="btn btn-sm btn-danger">Izbrisi</button>
                </form>
                <% } %>
              </div>
              <!--<small class="text-body-secondary">9 mins</small>-->
              <!--Strpacemo ovde edit dugmad-->
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<!--Pagination-->

<script>
  const stanovi = {features: <%-JSON.stringify(stanovi)%>}
</script>
