<% layout('layouts/boilerplate') %> <%- include('../partials/search.ejs') %>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
      <% for( let stan of stanovi) { %>

      <div class="col">
        <div class="card shadow-sm">
          <% if (stan.images.length) { %>
          <img
            crossorigin="anonymous"
            src="<%= stan.images[0].url %>"
            class="card-img-top"
            alt="..."
            height="400px"
          />
          <% } else {%>

          <img
            crossorigin="anonymous"
            src="/img/MojDizajn.png"
            class="card-img-top"
            alt="..."
            height="400px"
          />
          <% } %>
          <title>Placeholder</title>
          <rect width="100%" height="100%" fill="#55595c"></rect>

          <div class="card-body">
            <h5 class="fs-4 ivanFont"><%= stan.title %></h5>
            <!--Opis-->
            <% if(stan.description.length < 200) {%>
            <p class="card-text ivanFont"><%= stan.description %></p>
            <% } else { %>
            <p class="card-text ivanFont">
              <% for (var i=0; i < 200;i++) {%><%= stan.description[i]; %><% }
              %> ...
            </p>
            <% } %>

            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  class="btn btn-sm btn-outline-secondary"
                  href="/stanovi/<%= stan._id %>"
                >
                  Pogledajte
                </a>
                <% if(currentUser && stan.author.equals(currentUser._id)){ %>
                <a
                  class="btn btn-sm btn-info"
                  href="/stanovi/<%= stan._id %>/edit"
                  >Preuredi</a
                >
                <form
                  class="d-inline"
                  action="/stanovi/<%= stan._id %>?_method=DELETE"
                  method="POST"
                >
                  <button class="btn btn-sm btn-danger">Izbrisi</button>
                </form>
                <% } %>
              </div>
              <!--<small class="text-body-secondary">9 mins</small>-->
              <!--Strpacemo ovde edit dugmad-->
            </div>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<!--Pagination-->
<% if (stanovi.length > 0) { %>
<div class="mb-3 bg-body-tertiary">
  <nav aria-label="Dashboard Pagination">
    <ul class="pagination justify-content-center mt-5">
      <% if (current == 1) { %>

      <li class="page-item active">
        <a href="/stanovi" class="page-link">Prva</a>
      </li>

      <% } else { %>

      <li class="page-item">
        <a href="/stanovi/?page=1" class="page-link">Prva</a>
      </li>
      <% } %> <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %> <%
      if(i !== 1) { %>

      <li class="page-item active">
        <a href="#" class="page-link">...</a>
      </li>
      <% } %> <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %> <%
      if(i == current) { %>

      <li class="page-item active">
        <a href="#" class="page-link"><%= i %></a>
      </li>

      <% } else { %>

      <li class="page-item">
        <a href="/stanovi/?page=<%= i %>" class="page-link"><%= i %></a>
      </li>

      <% } %> <% if (i == Number(current) + 4 && i < pages) { %>

      <li class="page-item active">
        <a href="#" class="page-link">...</a>
      </li>

      <% } %> <% } %> <% if (current == pages) { %>
      <li class="page-item active">
        <a href="#" class="page-link">Poslednja</a>
      </li>
      <% } else { %>

      <li class="page-item">
        <a href="/stanovi/?page=<%= pages %>" class="page-link">Poslednja</a>
      </li>

      <% } %>
    </ul>
  </nav>
</div>
<% } %>

<script src="/javascripts/infiniteScroll.js"></script>